<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BilgeAdam ödev projesi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/Index">Anasayfa</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="#">Basında biz</a></li>
        </ul>
    </div>
</nav>